<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/static/HPstyle.css">
  </head>
  <body>
    <header>
      <h1>Welcome to the MSU Denver Student App!</h1>
    </header>
    <nav>
      <ul>
        <a href="menu.html">
          <div class="grid-item">
            <img src="/static/menu_images/Cafe.png" alt="Cafe">
            <p>Enter Cafe</p>
          </div>
        </a>
        <a href="index.html">
          <div class="grid-item">
            <img src="/static/menu_images/chat1.png" alt="Chat">
            <p>Enter Chat</p>
          </div>
        </a>
        <a >
          <div class="grid-item">
            <img src="/static/menu_images/schedule.png" alt="Schedule">
            <p>Enter Schedule (Coming Soon)</p>
          </div>
        </a>
        <a >
          <div class="grid-item">
            <img src="/static/menu_images/calendar.png" alt="Event Calendar">
            <p>Enter Event Calendar (Coming Soon)</p>
          </div>
        </a>
      </ul>
    </nav>
    
    
    <main>
      <h2>Created by</h2>
      <p>Blair Ednie, Noora Noor, Elizabeth Matteson, Kyle Hosman, Caiden Kopcik and Maria Estrada</p>
    </main>
    <footer>
      <p>&copy; 2023 MSU Denver</p>
    </footer>
  </body>
</html>
