<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>MSU Denver Student App</title>
</head>
<body>
  <header>
    <h1>Welcome to Our Homepage</h1>
  </header>
  <main>
    <div class="box-container">
      <div class="box">
        <a href="cafe-menu.html">
          <img src="cafe-menu-icon.png" alt="Cafe Menu">
          <p>Cafe Menu</p>
        </a>
      </div>
      <div class="box">
        <a href="chatroom.html">
          <img src="chatroom-icon.png" alt="Chatroom">
          <p>Chatroom</p>
        </a>
      </div>
    </div>
  </main>
</body>
</html>
